# Hugging Face Access Token
HF_TOKEN=your_token_here

# System Configuration
DEVICE=cuda
MODEL_NAME=qwen2.5:3b

# Paths (Optional overrides)
# MENU_FILE_PATH=/absolute/path/to/menu.json

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=ls__your_key_here
LANGCHAIN_PROJECT=AI_Waiter_Dev
