rclpy
python-dotenv
numpy
langchain-core
langchain-community
langchain-huggingface
faiss-cpu
rank-bm25
sentence-transformers
pydantic>=2.0
pydantic-settings
underthesea
langchain-ollama
langgraph
langsmith
